.card {
  padding: 2em;
}

.input-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

#name,
#content {
  padding: 1rem;
  width: 50%;
}

.read-the-docs {
  color: #888;
}

.vertical-slider {
  transform: rotate(90deg);
  position: absolute;
  top: 50%;
  left: -20%;
}

.preview {
  flex: 1;
}

.slider {
  display: flex;
  position: relative;
}

.horizontal-slider {
  width: 100%;
  padding: 2rem 0;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.notice {
  width: 50%;
  color: yellow;
}

.download-btn {
  display: flex;
  margin: auto;
}
